# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# load messages dataset
messages = pd.read_csv("data/disaster_messages.csv")
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [6]:
# load categories dataset
categories = pd.read_csv("data/disaster_categories.csv")
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [7]:
# merge datasets
df = messages.merge(categories, left_on='id', right_on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [8]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [9]:
# select the first row of the categories dataframe
row = categories.iloc[0, :]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.str.split("-", expand=True)[0]
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [10]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [11]:
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [12]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str.split('-', expand=True)[1]
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column], downcast='integer')
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [13]:
# drop the original categories column from `df`
df = df.drop(columns='categories')

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [19]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2.0,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7.0,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8.0,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.0,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12.0,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [21]:
# check number of duplicates
df.duplicated().sum()

144

In [22]:
# drop duplicates
df = df.drop_duplicates()

In [16]:
# check number of duplicates
df.duplicated().sum()

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [42]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('InsertTableName', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [23]:
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2.0,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7.0,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8.0,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.0,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12.0,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
count_per_category = df._get_numeric_data().drop(columns='id').sum(axis=0)
count_per_category

related                   20314
request                    4488
offer                       119
aid_related               10891
medical_help               2089
medical_products           1315
search_and_rescue           725
security                    471
military                    862
child_alone                   0
water                      1677
food                       2933
shelter                    2322
clothing                    407
money                       605
missing_people              299
refugees                    877
death                      1198
other_aid                  3455
infrastructure_related     1709
transport                  1206
buildings                  1339
electricity                 534
tools                       159
hospitals                   283
shops                       120
aid_centers                 309
other_infrastructure       1155
weather_related            7315
floods                     2164
storm                      2448
fire                        282
earthquake                 2458
cold                        531
other_weather              1379
direct_report              5085
dtype: int64

In [31]:
count_per_category.index

Index(['related', 'request', 'offer', 'aid_related', 'medical_help',
       'medical_products', 'search_and_rescue', 'security', 'military',
       'child_alone', 'water', 'food', 'shelter', 'clothing', 'money',
       'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

In [32]:
df._get_numeric_data().drop(columns='id').corr()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
related,1.000000,0.235844,0.035045,0.437354,0.152704,0.119260,0.087523,0.070196,0.095692,NaN,...,0.056679,0.111413,0.322800,0.155663,0.166548,0.054118,0.166923,0.074620,0.122285,0.254558
request,0.235844,1.000000,-0.030656,0.448260,0.128892,0.106740,0.071632,0.056752,-0.044529,NaN,...,0.022661,-0.002236,-0.014680,-0.005186,-0.045818,-0.009059,0.007164,-0.002022,-0.015349,0.647644
offer,0.035045,-0.030656,1.000000,0.067468,0.005295,0.039090,-0.000995,-0.009124,0.000290,NaN,...,-0.002110,-0.014482,-0.014131,-0.001677,-0.013848,-0.001534,-0.011964,-0.009700,-0.005728,0.018570
aid_related,0.437354,0.448260,0.067468,1.000000,0.349155,0.272686,0.200119,0.160502,0.218797,NaN,...,0.115973,0.131830,0.209070,0.167542,0.059574,0.053230,0.080395,0.081086,0.126055,0.374240
medical_help,0.152704,0.128892,0.005295,0.349155,1.000000,0.340911,0.103318,0.060979,0.005829,NaN,...,0.060558,0.034354,0.096606,0.185649,0.006838,0.026696,0.015621,0.030725,0.039890,0.099092
medical_products,0.119260,0.106740,0.039090,0.272686,0.340911,1.000000,0.080638,0.059725,-0.005091,NaN,...,0.080175,0.043531,0.045748,0.091158,0.000198,0.033658,0.004093,0.040181,0.032014,0.062391
search_and_rescue,0.087523,0.071632,-0.000995,0.200119,0.103318,0.080638,1.000000,0.101548,0.045896,NaN,...,0.044104,0.061308,0.143062,0.143025,0.038666,0.052335,0.065506,0.064942,0.044702,0.057360
security,0.070196,0.056752,-0.009124,0.160502,0.060979,0.059725,0.101548,1.000000,0.160276,NaN,...,0.033138,0.032561,0.079830,0.106601,0.003022,0.058290,0.019587,0.037650,0.013184,0.048460
military,0.095692,-0.044529,0.000290,0.218797,0.005829,-0.005091,0.045896,0.160276,1.000000,NaN,...,0.031414,0.033416,-0.015393,-0.000065,-0.031913,0.042999,-0.019622,0.011476,0.006422,-0.038422
child_alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
water,0.135668,0.240076,0.005554,0.310201,0.136129,0.248490,0.024400,-0.004811,-0.017558,NaN,...,0.059583,0.055591,-0.000510,0.020793,-0.004521,0.013568,-0.018223,0.006713,0.048092,0.193561
food,0.184188,0.350560,0.064263,0.421142,0.088253,0.190709,0.011045,0.002148,-0.028053,NaN,...,0.038640,0.025889,-0.015261,0.012810,-0.001084,0.007603,-0.056753,0.002278,0.045461,0.297013
shelter,0.161778,0.280770,0.004934,0.369901,0.081870,0.164605,0.037535,0.020541,-0.023543,NaN,...,0.156304,0.097991,0.091493,0.068547,0.054622,0.016980,0.020957,0.071487,0.052907,0.234600
clothing,0.065172,0.081406,0.060378,0.149014,0.039421,0.177543,0.012711,0.048071,-0.004099,NaN,...,0.034899,0.004640,0.011381,0.009460,-0.003146,0.007855,-0.003305,0.041098,0.002229,0.066424
money,0.079765,0.062399,0.053878,0.182381,0.021424,0.043857,0.014385,-0.001642,-0.001244,NaN,...,0.035016,0.052450,0.069288,0.045333,0.023191,0.003691,0.063035,0.004974,0.032099,0.016553
missing_people,0.055743,0.027524,-0.007246,0.127456,0.085157,0.100416,0.227254,0.147752,0.024533,NaN,...,0.031552,0.029477,0.123040,0.172749,0.030997,0.009705,0.052981,0.027922,0.031037,0.008232
refugees,0.096550,0.024220,-0.009394,0.220758,0.081608,0.081684,0.127769,0.107413,0.057327,NaN,...,0.125150,0.080003,0.104755,0.146976,0.037318,0.032029,0.017359,0.032005,0.045529,0.005397
death,0.113565,0.008783,-0.014762,0.259664,0.119808,0.059385,0.113505,0.098318,0.097970,NaN,...,0.035361,0.066994,0.167774,0.158765,0.079248,0.035637,0.093855,0.054145,0.084312,0.010559
other_aid,0.202185,0.243679,0.032429,0.462290,0.082425,0.106862,0.082890,0.061111,-0.000942,NaN,...,0.066152,0.136223,0.170143,0.106565,0.058011,0.034839,0.104586,0.033689,0.096696,0.192330
infrastructure_related,0.137045,0.022034,-0.013217,0.198006,0.108950,0.097234,0.094964,0.065522,0.054468,NaN,...,0.413578,0.812963,0.233736,0.172405,0.118723,0.075844,0.093778,0.077238,0.157941,0.031587
transport,0.113962,0.025977,-0.003979,0.154937,0.233970,0.121424,0.179522,0.147158,0.019793,NaN,...,0.043525,0.133010,0.256848,0.397329,0.094174,0.038903,0.034377,0.070567,0.060050,0.039740
buildings,0.120402,0.062549,-0.015650,0.149823,0.039927,0.031672,0.092985,0.043002,0.005845,NaN,...,0.080643,0.250795,0.218117,0.163424,0.112593,0.071569,0.117433,0.054000,0.099836,0.075595
electricity,0.074835,0.010518,-0.001693,0.069773,0.020431,0.047307,0.056394,0.033371,0.012809,NaN,...,0.036810,0.107230,0.132512,0.055893,0.127310,0.087068,0.015731,0.082797,0.057985,0.049523
tools,0.040540,0.019311,-0.005270,0.085718,0.053231,0.076598,0.091698,0.067117,0.035201,NaN,...,0.023342,0.050276,0.073023,0.031934,0.018856,0.063301,0.038943,0.096892,0.038831,0.016387
hospitals,0.054215,0.016266,-0.001556,0.108236,0.164206,0.099467,0.074691,0.041464,0.030437,NaN,...,0.135672,0.045945,0.065920,0.023691,0.010910,0.035636,0.044943,0.058364,0.036589,0.020687
shops,0.035193,0.032217,-0.004575,0.064419,0.036406,0.043976,0.023036,0.046143,0.022367,NaN,...,0.029253,0.048788,0.080051,0.043335,0.032638,0.042238,0.053813,0.058453,0.027070,0.035364
aid_centers,0.056679,0.022661,-0.002110,0.115973,0.060558,0.080175,0.044104,0.033138,0.031414,NaN,...,1.000000,0.085075,0.070013,0.039194,0.039081,0.053721,0.041292,0.034491,0.043953,0.021561
other_infrastructure,0.111413,-0.002236,-0.014482,0.131830,0.034354,0.043531,0.061308,0.032561,0.033416,NaN,...,0.085075,1.000000,0.213391,0.182185,0.123445,0.053312,0.066830,0.029856,0.164271,0.003380
weather_related,0.322800,-0.014680,-0.014131,0.209070,0.096606,0.045748,0.143062,0.079830,-0.015393,NaN,...,0.070013,0.213391,1.000000,0.482228,0.515948,0.167651,0.517109,0.231165,0.378825,0.079245
floods,0.155663,-0.005186,-0.001677,0.167542,0.185649,0.091158,0.143025,0.106601,-0.000065,NaN,...,0.039194,0.182185,0.482228,1.000000,0.205365,0.041311,0.003474,0.044484,0.102619,0.002690
storm,0.166548,-0.045818,-0.013848,0.059574,0.006838,0.000198,0.038666,0.003022,-0.031913,NaN,...,0.039081,0.123445,0.515948,0.205365,1.000000,0.027568,-0.018571,0.080462,0.155236,0.071154
fire,0.054118,-0.009059,-0.001534,0.053230,0.026696,0.033658,0.052335,0.058290,0.042999,NaN,...,0.053721,0.053312,0.167651,0.041311,0.027568,1.000000,0.017234,0.040145,0.069868,0.004073
earthquake,0.166923,0.007164,-0.011964,0.080395,0.015621,0.004093,0.065506,0.019587,-0.019622,NaN,...,0.041292,0.066830,0.517109,0.003474,-0.018571,0.017234,1.000000,0.037399,0.016315,0.028359
cold,0.074620,-0.002022,-0.009700,0.081086,0.030725,0.040181,0.064942,0.037650,0.011476,NaN,...,0.034491,0.029856,0.231165,0.044484,0.080462,0.040145,0.037399,1.000000,0.074105,0.003496
other_weather,0.122285,-0.015349,-0.005728,0.126055,0.039890,0.032014,0.044702,0.013184,0.006422,NaN,...,0.043953,0.164271,0.378825,0.102619,0.155236,0.069868,0.016315,0.074105,1.000000,0.003364
direct_report,0.254558,0.647644,0.018570,0.374240,0.099092,0.062391,0.057360,0.048460,-0.038422,NaN,...,0.021561,0.003380,0.079245,0.002690,0.071154,0.004073,0.028359,0.003496,0.003364,1.000000